if SHIELD_LOWKEY36_LEFT

config ZMK_KEYBOARD_NAME
    default "LowKey36"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_LOWKEY36_LEFT || SHIELD_LOWKEY36_RIGHT

config ZMK_SPLIT
    default y

endif
